<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"><h3>Orders</h3></div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <h3>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true" style="width:100%">
                        <h5>#Sort: <span class="caret"></span></h5>

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="sort">
                            <a data-id="created:1">#Older first</a>
                        </li>
                        <li class="sort">
                            <a data-id="created:-1">#Newer first</a>
                        </li>
                        <li class="sort">
                            <a data-id="totalPrice:1">#Total Price - higher first</a>
                        </li>
                        <li class="sort">
                            <a data-id="totalPrice:-1">#Total Price - lower first</a>
                        </li>
                        <li class="sort" hidden>
                            <a data-id="emailSent:1">#Recovery - not sent</a>
                        </li>
                        <li class="sort" hidden>
                            <a data-id="emailSent:-1">#Recovery - sent</a>
                        </li>
                    </ul>
                </div>
            </h3>
        </div>
    </div>

    <ul class="nav nav-tabs" id="menu">
        <li role="presentation" class="All"><a>All</a></li>
        <li role="presentation" class="Placed"><a>Placed</a></li>
        <li role="presentation" class="Fulfilled"><a>Fulfilled</a></li>
        <li role="presentation" class="Abandoned"><a>Abandoned</a></li>
    </ul>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td></td>
                    <td><strong>#Created:</strong></td>
                    <td><strong>#Placed by:</strong></td>
                    <td><strong>#Total price:</strong></td>
                    <td><strong>#Status:</strong></td>
                    <td id="recovery" hidden align="center"><strong>#Recovery email:</strong></td>
                </tr>
                <% collection.forEach(function(model){ %>
                <tr id="<%=model._id%>">
                    <td></td>
                    <td id="name"><%=model.created%></td>
                    <td><%=model.customerInfo[0].firstName%></td>
                    <td><%=model.totalPrice%>$</td>
                    <td><%=model.status%></td>
                    <td id="recoveryVal" hidden align="center"><% if(model.emailSent==true){ %>
                        <button type="button" class="btn btn-default" style="width: 40%">
                            Email Sent
                        </button>
                        <%}else{%>
                        <button type="button" class="btn btn-warning" style="width: 40%">
                            Not Sent
                        </button>
                        <%}%>
                    </td>
                </tr>
                <%})%>
            </table>
        </div>
    </div>
    <div class="row" align="center">
        <nav>
            <ul class="pagination" id="pagination">
                <% if(pages){pages.forEach(function(item){ %>
                <li class="" id="page" data-id="<%=item%>">
                    <a><%=item%></a>
                </li>
                <%})}%>
            </ul>
        </nav>
    </div>
</div>





