<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"><h3>Orders</h3></div>
        <div class="col-md-9"></div>
        <div class="col-md-1">
            <h3>
                <button type="button" class="btn btn-default" id="removeBtn">Delete</button>
            </h3>
        </div>
    </div>

    <ul class="nav nav-tabs" id="menu">
        <li role="presentation" class="All"><a>All</a></li>
        <li role="presentation" class="Placed"><a>Placed</a></li>
        <li role="presentation" class="Fulfilled"><a>Fulfilled</a></li>
        <li role="presentation" class="Abandoned"><a>Abandoned</a></li>
    </ul>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td></td>
                    <td><strong>#Created:</strong></td>
                    <td><strong>#Placed by:</strong></td>
                    <td><strong>#Total price:</strong></td>
                    <td><strong>#Status:</strong></td>
                </tr>
                <% collection.forEach(function(model){ %>
                <tr id="<%=model._id%>">
                    <td><label><input type="checkbox" id="blankCheckbox" data-id="<%=model._id%>"></label></td>
                    <td id="name"><%=model.created%></td>
                    <td><%=model.customerInfo[0].firstName%></td>
                    <td><%=model.totalPrice%>$</td>
                    <td><%=model.status%></td>
                </tr>
                <%})%>
            </table>
        </div>
    </div>
    <div class="row" align="center">
        <nav>
            <ul class="pagination" id="pagination">
                <% if(pages){pages.forEach(function(item){ %>
                <li class="" id="page" data-id="<%=item%>">
                    <a><%=item%></a>
                </li>
                <%})}%>
            </ul>
        </nav>
    </div>
</div>





