<div class="container-fluid">
    <h2 align="center">
        <small>Create New Product</small>
    </h2>
    <form class="login-form">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <h3>
                    <small>Name</small>
                </h3>
                <input class="form-control" type="text" id="name">
                <h4 style="margin-top: 25px;"></h4>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="createBtn">
                        Create
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <h3>
                    <small>Description</small>
                </h3>
                <textarea id="description" class="form-control" rows="5"></textarea>

            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </form>
</div>