<div class="container">
    <div class="row" style="height: 580px">
        <div class="col-lg-6">

            <div class="form-group">
                <form class="login-form">
                    <h2>
                        <small>Login</small>
                    </h2>
                    <h3>
                        <small>Email</small>
                    </h3>
                    <input class="form-control" type="text" id="logInMail">
                    <h3>
                        <small>Password</small>
                    </h3>
                    <input class="form-control" type="text" id="logInPass">

                    <div id="sms" hidden>
                        <h3>
                            <small>SMS Code</small>
                        </h3>
                        <input class="form-control" type="text" id="receivedCode">
                    </div>


                    <h4 style="margin-top: 25px;">
                        <small><a href="#myApp/forgotPass">Forgot your password?</a></small>
                    </h4>

                    <div class="form-group">
                        <button class="btn btn-default" type="button" id="fakeloginBtn">
                            Sign In
                        </button>
                    </div>

                    <div class="form-group" id="smsReceived" hidden>
                        <button class="btn btn-default" type="button" id="loginBtn">
                            Sign In
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <form class="login-form">
                <div class="form-group">
                    <h2>
                        <small>Create Account</small>
                    </h2>
                    <h3>
                        <small>First Name</small>
                    </h3>
                    <input class="form-control" type="text" id="firstName">
                    <h3>
                        <small>Last Name</small>
                    </h3>
                    <input class="form-control" type="text" id="lastName">
                    <h3>
                        <small>Email</small>
                    </h3>
                    <input class="form-control" type="text" id="email">
                    <h3>
                        <small>Phone</small>
                    </h3>
                    <input class="form-control" type="text" id="phone">
                    <h3>
                        <small>Password</small>
                    </h3>
                    <input class="form-control" type="text" id="password">
                    <h4 style="margin-top: 25px;">
                        <small>Push the button</small>
                    </h4>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" id="createBtn">
                            Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
