<div>
    <div>
        <dl>
            <dd>First Name</dd>
            <dt><input type="text" maxlength="10" id="firstName" value="<%= name.first%>"></dt>
            <dd>Last Name</dd>
            <dt><input type="text" maxlength="10" id="lastName" value="<%= name.last%>"></dt>
            <dd>Email</dd>
            <dt><input type="text" maxlength="10" id="email" value="<%= email%>"></dt>
            <dd>Date Of Birth</dd>
            <dt><input type="text" maxlength="10" id="birthday" value="<%= birthday%>"></dt>
            <dd>Phone</dd>
            <dt><input type="text" maxlength="10" id="phone" value="<%= phone%>"></dt>
            <dd>Address</dd>
            <dt><input type="text" maxlength="10" id="address" value="<%= address%>"></dt>
        </dl>
    </div>
    <button id="saveBtn">Save User</button>
</div>