<div class="container-fluid" style="height: 800px; background-color: #9d9d9d;">
    <div class="row" style="height: 100px"></div>
    <div class="container" style="height: 500px; width: 500px; background-color: #ffffff;">
        <div class="form-group">
            <h2 style="padding-bottom: 5px; border-bottom: 2px solid">Password reset</h2>
            <form action="" class="navbar-form" align="center">
                <p>
                    <h3>
                        <small>Email</small>
                    </h3>
                    <input id="email" type="text" placeholder="" value="" style="width: 330px; height: 40px; font-size: 18px;">
                </p>

                <button id="sendKeyBtn" class="btn" type="button" style="width: 330px; height: 40px; background-color: #0f0f0f;">
                    <p style="font-size: 18px; color: #eeeeee; margin-bottom: 0px;">Send Key</p>
                </button>
            </form>
            <div id="checkEmail" style="display:none">
                <h4>Password reset code has been sent. Please, follow link in email.</h4>
            </div>
        </div>
    </div>
</div>