<div class="container-fluid" style="height: 800px; background-color: #9d9d9d;">
    <div class="row" style="height: 100px"></div>
    <div class="container" style="height: 500px; width: 500px; background-color: #ffffff;">
        <div class="form-group">
            <form action="" class="navbar-form" align="center">
                <h2 style="padding-bottom: 5px; border-bottom: 2px solid">Password reset</h2>
                <p>
                    <h3><small>New password</small></h3>
                    <input id="pass" type="password" placeholder="" value="" style="width: 330px; height: 40px; font-size: 18px;">
                </p>
                <p>
                    <h3><small>Repeat password</small></h3>
                    <input id="pass2" type="password" placeholder="" value="" style="width: 330px; height: 40px; font-size: 18px;">
                </p>

                <button id="submitBtn" class="btn" type="button" style="width: 330px; height: 40px; background-color: #0f0f0f;">
                    <p style="font-size: 18px; color: #eeeeee; margin-bottom: 0px;">Submit</p>
                </button>
            </form>
        </div>
    </div>
</div>