<div class="container-fluid" style="height: 800px; background-color: #9d9d9d;">
    <div class="row" style="height: 100px"></div>
    <div class="container" style="height: 500px; width: 500px; background-color: #ffffff;">
        <div class="form-group">
            <form action="" class="navbar-form" align="center">
                <h2 style="padding-bottom: 5px; border-bottom: 2px solid">Hey, Admin, Log In!</h2>
                <h3>
                    <small>Email</small>
                </h3>
                <input id="logInMail" type="text" placeholder="" value="" style="width: 330px; height: 40px; font-size: 18px;">
                <h3>
                    <small>Password</small>
                </h3>
                <input id="logInPass" type="password" placeholder="" value="" style="width: 330px; height: 40px; font-size: 18px;">
                <h4 style="margin-top: 25px;">
                    <a>Forgot your password?</a>
                </h4>
                <button id="signInBtn" class="btn" type="button" style="width: 330px; height: 40px; background-color: #0f0f0f;">
                    <p style="font-size: 18px; color: #eeeeee; margin-bottom: 0px;">Sign In</p>
                </button>
            </form>
        </div>
    </div>
</div>