<div align="center" style="background-color: #5e5e5e">

    <button id="home" type="button" class="btn btn-default" style="background: #5e5e5e; border: hidden;"><h4 align="left"
                                                                                                   style="color: #eeeeee;">
        <i class="fa fa-home"></i> Home</h4></button>
    <button id="orders" type="button" class="btn btn-default" style="background: #5e5e5e; border: hidden;"><h4 align="left"
                                                                                                   style="color: #eeeeee;">
        <i class="fa fa fa-check-square-o"></i> Orders</h4></button>
    <button id="collections" type="button" class="btn btn-default" style="background: #5e5e5e; border: hidden;"><h4 align="left"
                                                                                                   style="color: #eeeeee;">
        <i class="fa fa-tags"></i> Collections</h4></button>
    <button id="products" type="button" class="btn btn-default" style="background: #5e5e5e; border: hidden;"><h4 align="left"
                                                                                                   style="color: #eeeeee;">
        <i class="fa fa-tag"></i> Products</h4></button>
    <button id="customers" type="button" class="btn btn-default" style="background: #5e5e5e; border: hidden;"><h4 align="left"
                                                                                                   style="color: #eeeeee;">
        <i class="fa fa-users"></i> Customers</h4></button>
    <button id="chat" type="button" class="btn btn-default" style="background: #5e5e5e; border: hidden;"><h4 align="left"
                                                                                                             style="color: #eeeeee;">
        <i class="fa fa-weixin" aria-hidden="true"></i> Chat</h4></button>
    <button id="logOut" type="button" class="btn btn-default" style="background: #5e5e5e; border: hidden;"><h4 align="left"
                                                                                                   style="color: #eeeeee;">
        <i class="fa fa-power-off"></i>Log Out</h4></button>

</div>





