<header class="bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                <div class="list-group">
                    <h3><a href="#" class="list-group-item">First item</a></h3>
                    <li class="divider"></li>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 hidden-sm hidden-sm">
                <div class="list-group">
                    <h3><a href="#" class="list-group-item">First item</a></h3>
                    <li class="divider"></li>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs">
                <div class="list-group">
                    <h3><a href="#" class="list-group-item">First item</a></h3>
                    <li class="divider"></li>
                    <a href="#" class="list-group-item">Second item</a>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="page-end">
    <div class="container-fluid">
        <div class="page-header">
            <h4 align="center">
                <ul class="list-inline" style="margin-left: 20px">
                    <li><i class="fa fa-youtube fa-2x"></i></li>
                    <li><i class="fa fa-twitter fa-2x"></i></li>
                    <li><i class="fa fa-facebook-official fa-2x"></i></li>
                    <li><i class="fa fa-pinterest-square fa-2x"></i></li>
                    <li><i class="fa fa-instagram fa-2x"></i></li>
                </ul>
            </h4>
            <h4 align="center">Bla bla bla bla bla</h4>
        </div>
    </div>
</header>