<div class="top-bar">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-4 hidden-xs">
            <h5 style="margin-top: 18px">
                <ul class="list-inline" style="margin-left: 20px">
                    <li><i class="fa fa-youtube fa-lg"></i></li>
                    <li><i class="fa fa-twitter fa-lg"></i></li>
                    <li><i class="fa fa-facebook-official fa-lg"></i></li>
                    <li><i class="fa fa-pinterest-square fa-lg"></i></li>
                    <li><i class="fa fa-instagram fa-lg"></i></li>
                </ul>
            </h5>
        </div>
        <div class="col-lg-3 col-md-3" align="right" style="padding: 0px">
            <h5 align="right">
                <ul class="list-inline">
                    <li><input id="searchFor" type="text" class="form-control input-sm"
                               placeholder="What are you looking for?"></li>
                    <li id="search"><a><i class="fa fa-search fa-lg"></i></a></li>
                </ul>
            </h5>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 hidden-1">
            <h5 style="margin-top: 18px" align="right">
                <ul class="list-inline" style="margin-right: 50px">
                    <div class="col-lg-4 col-md-4" hidden></div>
                    <div class="col-lg-4 col-md-4" style="padding: 0px">
                        <ul class="list-inline">
                            <li><a href="#myApp" id="gohome"><i class="fa fa-home fa-lg"></i></a></li>
                            <li><a href="#myApp/users/create" id="user"><i class="fa fa-user fa-lg"></i></a></li>
                            <li><a id="chat"><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4" style="padding: 0px">
                        <li class="dropdown">
                            <a href="#myApp/cart">Cart<i
                                    class="fa fa-shopping-basket fa-lg" style="margin-left: 6px"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </h5>
        </div>
    </div>
</div>
<div class="page-header">
    <h1 align="center">Page Header</h1>
</div>
<div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" class="" data-toggle="collapse"
                data-target="#responsive-menu">
            <span class="sr-only">Open navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myApp" id="home">LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav">
            <li><a href="#myApp/products">All products</a></li>
            <li><a href="#myApp/categories/q=Music">Music</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Categories
                    <b class="caret"></b>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#myApp/categories/q=Other">Other</a>
                            <a href="#myApp/categories/q=Sale!">SALE!</a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--<div class="container-fluid">
    <div class="row">
        <div id="carousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li class="active" data-target="#carousel" data-slide-to="0"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>

            &lt;!&ndash;Слайды&ndash;&gt;
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/0 (1).jpg" alt="">
                    <div class="carousel-caption hidden">
                        <h3>First slide</h3>
                        <p>First slide description</p>
                    </div>
                </div>
                <div class="item">
                    <img src="images/0 (2).jpg" alt="">
                    <div class="carousel-caption hidden">
                        <h3>Second slide</h3>
                        <p>Second slide description</p>
                    </div>
                </div>
                <div class="item">
                    <img src="images/0 (3).jpg" alt="">
                    <div class="carousel-caption hidden">
                        <h3>Third slide</h3>
                        <p>Third slide description</p>
                    </div>
                </div>
            </div>
            &lt;!&ndash;Стрелки переключения слайдов&ndash;&gt;
            <a href="#carousel" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#carousel" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>-->
