<div class="top-bar">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-4 hidden-xs">
            <h5 style="margin-top: 18px">
                <ul class="list-inline" style="margin-left: 20px">
                    <li><i class="fa fa-youtube fa-lg"></i></li>
                    <li><i class="fa fa-twitter fa-lg"></i></li>
                    <li><i class="fa fa-facebook-official fa-lg"></i></li>
                    <li><i class="fa fa-pinterest-square fa-lg"></i></li>
                    <li><i class="fa fa-instagram fa-lg"></i></li>
                </ul>
            </h5>
        </div>
        <div class="col-lg-2 col-md-2" align="right" style="padding: 0px"></div>
        <div class="col-lg-2 col-md-2" style="padding: 0px">
            <h5>
                <input id="searchFor" type="text" class="form-control input-sm"
                       placeholder="What are you looking for?">
            </h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-8 hidden-1">
            <h5 style="margin-top: 18px" align="right">
                <ul class="list-inline" style="margin-right: 50px">
                    <div class="col-lg-2 col-md-2" style="padding: 0px;">
                            <ul class="list-inline">
                                <li id="search"><a><i class="fa fa-search fa-lg"></i></a></li>
                            </ul>
                    </div>
                    <div class="col-lg-6 col-md-6" style="padding: 0px">
                        <ul class="list-inline">
                            <li><a id="gohome"><i class="fa fa-home fa-lg"></i></a></li>
                            <li><a id="user"><i class="fa fa-user fa-lg"></i></a></li>
                            <li><a id="chat"><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4" style="padding: 0px" align="center">
                        <li class="dropdown">
                            <a id="cart">Cart<i
                                    class="fa fa-shopping-basket fa-lg"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </h5>
        </div>
    </div>
</div>
<div class="page-header">
    <h1 align="center">Page Header</h1>
</div>
<div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#responsive-menu">
            <span class="sr-only">Open navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="home">LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav">
            <li><a id="products">#Products</a></li>
            <li><a id="categories">#Categories</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">#Choose category
                    <b class="caret"></b>
                    <ul class="dropdown-menu">
                        <% if(collection){collection.forEach(function(item){ %>
                        <li><a id="categoryName" data-id="<%=item._id%>"><%=item.name%></a></li>
                        <%})}%>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</div>
